# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


*.env

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/
.vscode/
pkg/
tmp/
frontend/node_modules/*
frontend/readinglist-ui/node_modules/*
CI/*
!public/upl/image.png
bin/
dummy/
src/github.com/
src/golang.org/
src/gopkg.in/
deploy
main
Versions/extract/
config.yml
.DS_Store
static.tar.gz
view.tar.gz
gin.log
runner.exe
runner.exe~
main